@model  HMS.Models.HMSUser
@{
    ViewBag.Title = "Login";
    ViewBag.UserName = ViewData.Model.Dictionary["%UserName_Lbl"];
    ViewBag.Password = ViewData.Model.Dictionary["%Password_Lbl"];
    ViewBag.Submit = ViewData.Model.Dictionary["%Login_Btn"];

    ViewBag.UserNamePlaceHolder = ViewData.Model.Dictionary["%UserName_PlHold"];
    ViewBag.PasswordPlaceHolder = ViewData.Model.Dictionary["%Password_PlHold"];

    string retUrl = "";

    if (ViewContext.HttpContext.Request.UrlReferrer != null)
    {
      retUrl = ViewContext.HttpContext.Request.UrlReferrer.PathAndQuery;
    } 

}
<html>
<body style="padding-top: 100px;">
<div class="container">
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { returnUrl = Request.QueryString["ReturnUrl"] }))
{     
    <div class="form-group">
        <label  class="control-label">@ViewBag.UserName</label>       
        <input name="UserName" type="username" class="form-control" placeholder="@ViewBag.UserNamePlaceHolder">
    </div>
    <div class="form-group">
        <label class="control-label">@ViewBag.Password</label>
        <input name="Password" type="password" class="form-control" placeholder="@ViewBag.PasswordPlaceHolder">
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-default">@ViewBag.Submit</button>
    </div>
}
</div>
</body>
</html>

