@using HMS.Models
@{
    ViewBag.LogIn = ViewData.Model.Dictionary["%Login_Lbl"];
    ViewBag.LogOut = ViewData.Model.Dictionary["%Logout_Lbl"];
    ViewBag.AddBtn = ViewData.Model.Dictionary["%NavBar_Add"];
    ViewBag.FollowBtn = ViewData.Model.Dictionary["%NavBar_Follow"];
    ViewBag.SearchBtn = ViewData.Model.Dictionary["%NavBar_Search"];
    ViewBag.NumItems_Text = ViewData.Model.Dictionary["%NavBar_NumItems_Msg"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/date-picker.js")
    @Styles.Render("~/Content/date-picker.css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("HMS", "Index", "ViewTasks", null, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                { 
                    <span id="num-items-txt" class="hidden">@ViewBag.NumItems_Text</span>
                    <span id="num-items" class="hidden">@ViewBag.NumItems</span>
                    <span id="items-status" class="navbar-text">@ViewBag.NumItems_Text @ViewBag.NumItems</span>
                }
            </div>
            <div class="navbar-collapse collapse">
                <!-- Very simple authorization mechanism, that allows us to specify what kind of actions a particular role is authorized to do-->           
                <ul class="nav navbar-nav navbar-right">
                    
                @if(Request.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "Filters")"><span class="glyphicon glyphicon-search"></span> @ViewBag.SearchBtn</a></li>
                    if (User.IsInRole("Doctor"))
                    {   
                        <li><a href="@Url.Action("Index", "CreateToDo")"><span class="glyphicon glyphicon-eye-open"></span> @ViewBag.FollowBtn</a></li>
                        <li><a href="@Url.Action("Index", "CreateToDo")"><span class="glyphicon glyphicon-plus-sign"></span> @ViewBag.AddBtn</a></li> 
                    }
                    else if (User.IsInRole("Headnurse"))
                    {   
                        <li><a href="@Url.Action("Index", "CreateToDo")"><span class="glyphicon glyphicon-eye-open"></span> @ViewBag.FollowBtn</a></li>
                    }                   
                    <li><a href="@Url.Action("Logout","Account")"><span class="glyphicon glyphicon-user"></span> @ViewBag.LogOut (<b>@User.Identity.Name</b>)</a></li> 
                }             
                else
                {   
                    <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-user"></span> @ViewBag.LogIn</a></li> 
                }
                </ul>
              
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hospital Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>